# App config
APP_PORT= # e.g. 3000
ENV= # e.g. development | production

# Database config
DB_HOST= # your_host
DB_PORT= # your_port
DB_NAME= # your_database_name
DB_USERNAME= # your_username
MYSQL_ROOT_PASSWORD= # your_password
DB_DIALECT= # e.g. mysql

# JWT config
JWT_SECRET= # e.g. eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_EXPIRES_IN= # e.g. 1h, 7d

# CORS config
FRONTEND_URL= # e.g. http://localhost:4200